{% extends "base/base.html" %}
{% block content %}
	<div class="col-md-9">
		<div class="card card-body h-100 border-info">
			<h4>Welcome to my page!</h4>
				<hr>
				<p>Hello! I'm a recent graduate from The Ohio State University who's constantly trying to improve and learn new skills such as
				making this website. I also took the initative to purchase a Raspberry Pi 3 which the website is currently being hosted on
				using Gunicorn, Nginx, and Django. Feel free to check out the source code on my github over to the left.
				
				
				<br><br>
				
				Right now, I am looking to start my career working with geographic information systems or in web development. I am interested
				in using my skills and knowledge on projects that will make an impact and help others. I created this page to add onto my resume 
				for an easy viewing of projects and labs I've worked on during my time in college and to challenge myself to continuously learn
				something new that will improve myself.
				
				</p>
		</div>
	</div>
</div>

<hr>

		<div class= "row">
			<div class= "col">
				<div class="col-md-14">
					<div class="card card-body h-100">
						<h5>About Myself</h5>
						<hr>
						<p>I started college pursuing a degree in computer and information science but once I discovered
						geographic information science I immediately made the switch. Ever since then I graduated in the autumn
						of 2020 from The Ohio State University. Some personal hobbies of mine are playing soccer, Dungeons and Dragons,
						and taking care of my plants. I was a member of the Ohio State Soccer Indoor Club. Currently, I am looking for GIS Developer, 
						Analyst, or Internship opportunities. I am constantly looking for more ways to improve and learn. 
						I want to do what I can to further better myself in this career.</p>
					</div>
				</div>
						
				<br>
						
				<div class="card card-body h-60">
					<h5>How I Learn</h5>
					<hr>
					<p>Visual learning is what works best for me. I learn the most when I am able to finish a simple project and then
					build on top of something that works. I like to visualize what I am learning as well, so if I am able to test
					different outputs, I will be able to figure out how to solve it.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>In ArcGIS and QGIS, I am able to:
						<ul>
						  <li>• Use ModelBuilder for automating raster and vector-based suitability for performing analysis.</li>
						  <li>• Create triangular irregular networks</li>
						  <li>• Generate watersheds, viewsheds, hillshades, and hypsometric tintings</li>
						  <li>• Prepare datasets in Excel for importing into ArcGIS Pro.</li>
						  <li>• Download and join data from different US Census Bureau sources.</li>
						  <li>• And much more...</li>
						</ul> 
					</p>
								
					<p>In GIS Development I have written programs that can:
						<ul>
						  <li>• Create, search, and index balanced and unbalanced k-D trees and point quadtrees.</li>
						  <li>• Prepare U.S. county shapefiles and transform the coordinates to an equal area projection and compute the size.</li>
						  <li>• Working with GeoJSON and Shapex, such as retrieving features from shapefiles and generating points within the boundaries.</li>
						</ul> 
					</p>
				</div>
			</div>
		</div>
	</div>
<br>
{% endblock content %}